<!DOCTYPE html>
<html>
<head>
  <title>Pokedex</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <script>
    window.pokemonTypes = {'pokemonTypes': []};
    <% Pokemon::TYPES.each do |type| %>
      window.pokemonTypes['pokemonTypes'].push("<%= type.html_safe %>");
    <% end %>
  </script>

  <%= yield %>

</body>
</html>
