<!DOCTYPE html>
<html>
<head>
  <title>Pokedex</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <script type="text/javascript">
    window.POKEMON_TYPES = <%=raw Pokemon::TYPES %>
  </script>

<header>
  <img src="./assets/pokedex-header.png" alt="pokedex">
  <div></div>
</header>
<nav>
  <ul>
    <li><a href="/">Pokedex</a></li>
    <li><a href="/#/">Create Pokemon</a></li>
  </ul>
</nav>

  <%= yield %>

</body>
</html>
