<h1><%= @band.name %></h1>

<h4>Albums</h4>

<ul>
  <% @band.albums.each do |album| %>
    <li><%= link_to album.name, album_url(album) %></li>
  <% end %>
</ul>

<h4>Links</h4>
<ul>
  <li><%= link_to "New album", new_band_album_url(@band) %></li>
  <li><%= link_to "Edit Band", edit_band_url(@band) %></li>
  <li><%= link_to "Delete Band", band_url(@band), method: :delete, class: 'btn' %></li>
  <li><%= link_to "All bands", bands_url %></li>
</ul>
