<h1><%= @track.name %></h1>

<%= ugly_lyrics(@track.lyrics) %>

<%= render "note/form", track: @track %>

<h2>Notes</h2>
<% @track.notes.each do |note| %>
  <%= render "note/note", note: note %>
<% end %>


<h4>Links</h4>
<ul>
  <li><a href="<%= edit_track_url(@track) %>">Edit Track</a></li>
  <li>
    <form action="<%= track_url(@track) %>" method="POST">
      <input type="hidden" name="_method" value="DELETE">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" >
      <input type="submit" value="Destroy Track">
    </form>
  </li>
  <li><%= link_to @track.album.name, album_url(@track.album) %></li>
</ul>
