<h1><%= @track.name %></h1>

<%= ugly_lyrics(@track.lyrics) %>

<%= render "note/form", track: @track %>

<h2>Notes</h2>
<% @track.notes.each do |note| %>
  <%= render "note/note", note: note %>
<% end %>


<h4>Links</h4>
<ul>
  <li><%= link_to "Edit Track", edit_track_url(@track) %></li>
  <li><%= link_to "Delete Track", track_url(@track), method: :delete %></li>
  <li><%= link_to @track.album.name, album_url(@track.album) %></li>
</ul>
